<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905512178487-ovbrbvervntll3q5rh61nj2972eovs0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905512178487-ovbrbvervntll3q5rh61nj2972eovs0n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>905512178487-2pfju7asec0rhp022rdc3qea27obm206.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFT-PeAWqEy6-20q5SZcvCqHcOuvQtWdo</string>
	<key>GCM_SENDER_ID</key>
	<string>905512178487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TestTrackerApp.io</string>
	<key>PROJECT_ID</key>
	<string>testtrackerapp-75df4</string>
	<key>STORAGE_BUCKET</key>
	<string>testtrackerapp-75df4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905512178487:ios:329f4414254bc658f200b2</string>
	<key>DATABASE_URL</key>
	<string>https://testtrackerapp-75df4-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>